//** VARIABLES **//

@link-color:        #000000; // sea blue
@link-color-hover:  lighten(@link-color, 10%);
//h styles//

//COLOR VARIABLES//
@orange: #ce4d28;
//fonts 

@font-face {
  font-family: 'Apres RE';
  src: url('.../style_guide/fonts/Apres-Regular.ttf'); 
  text-rendering: optimizeLegibility;
/* IE9 Compat Modes */
}

@font-face {
  font-family: 'Turnip';
  src: url('.../style_guide/fonts/Turnip-Regular.otf');
  text-rendering: optimizeLegibility;
 /* IE9 Compat Modes */
}

@font-face {
  font-family: 'SalvoSerifCond-Regular';
  src: url('.../style_guide/fonts/SalvoSerifCond-Regular.otf');
 /* IE9 Compat Modes */
}

@font-family-sans-serif:  'Apres', "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:  'Turnip', "Times New Roman", serif;

//images
@logo-stacked: 320px;

//STYLES//

img {
	max-width:100%; 
	max-height:100%;
	display: block;
	margin-bottom: 5px;
	&.stacked-logo{
		width: @logo-stacked;
	}
}

	p {
	font-family: @font-family-serif;
	line-height: 27.94px;
	font-size: 16px;
	color: black;
	&.lead{
		  margin-bottom: 22px;
		  font-size: 24px;
		  line-height: 33px;
		}
	&.editors-note{
		  background-color: #f3f3f3;
		  border-top: 4px solid #CA4D1D;
		  color: #555555;
		  font-family: @font-family-sans-serif;
		  line-height: 1.5em;
		  padding: 18px 24px;
		  margin: 1.4em 0 1.6em;
		  :before {
			  content: "Editor's Note: ";
			  color: #CA4D1D;
			  padding-right: 3px;
	}
}
}

blockquote {
  margin: 0 0 22px;
  border-left: 4px solid #f3f3f3;
  background-color: #FAFAFA;
  font-family: "Turnip RE", Georgia, "Times New Roman", Times, serif;
  font-size: 1.1em;
  font-style: italic;
  line-height: 1.5em;
  padding: 1em 1em;
  overflow: auto;
  p{
  	margin: 3px 0 22px;
  	  font-size: inherit;
	  line-height: inherit;
  }
}

[data-pullquote]:before {
  border-bottom: medium double #DDDDDD;
  border-top: medium double #DDDDDD;
  color: #CA4D1D;
  content: attr(data-pullquote);
  float: right;
  font-family: "SalvoSerifCond-Regular", Georgia, "Times New Roman", Times, serif;
  font-size: 25px;
  font-style: italic;
  line-height: 1.3em;
  margin: 7px 0 0.5em 35px;
  padding: 22px 1px 20px;
  width: 34%;
}

a, 
.link {
	color: @link-color;
}
.code-btn{
	font-size: 0.5em;
	margin-top: 0px;
}
a:hover {
	color: @link-color-hover;
	text-decoration: none;
}

i {
	font-family: @font-family-sans-serif;
}

li.size-li {
	font-size: 0.8em;
  	padding: 9px 15px 0 0;
  	font-family: @font-family-sans-serif;
}

article {
	.style-meta-inner{
		font-family: @font-family-sans-serif;
		font-size: 0.8em;
	}
}
.style-hgroup {
	font-family: @font-family-sans-serif;
}

//COLORS//
.swatch {
	width: 120px;
	height: 120px;
	font-family: @font-family-sans-serif;
	font-size: 0.6em;
	display: block;
}
//THIS IS BAD--COMPRESS//
.kl-orange{
		background-color: @orange;
		}
.kl-orange-dark{
		background-color: #c34528;
		}
.kl-orange-light{
		background-color: #e35a25;
		}
.kl-orange-lighter{
		background-color: lighten(@orange, 35%);
		}
.kl-green-light{
		background-color: #eae34a;
}
.kl-blue-light{
	background-color: #1dacd6;
}
.kl-blue-med{
	background-color: #0f9bd1;
}

//TYPOGRAPHY & PARAGRAPH STYLES//

h3.style-h {
		font-size: 0.75em;
		font-family: @font-family-sans-serif;
		font-style: bold;
		margin: -11px 0;
		}

h1, h2, h3, h4, h5, h6 {
	margin: 11px 0;
	font-weight: normal;
	line-height: 44px;
	font-family: 'SalvoSerifCond-Regular';
	color: #414141;
	text-rendering: optimizeLegibility;
}

h1 {
	font-style: italic;
	&.logo-mark{
	font-size: 60px;
	white-space: nowrap;
	line-height: 1em;
	&.xl{
		font-size: 90px;
		}
	&.xxl{
		font-size: 120px;
		}
	span {
		  background: none repeat scroll 0 0 #0f9bd1;
		  border-radius: 3px 0px 3px 3px;
		  color: #FFFFFF;
		  font-size: 0.5em;
		  line-height: 0.5em;
		  margin: 5px 6px 0;
		  overflow: hidden;
		  padding: 0.35em 0.45em 0.2em;
		  position: relative;
		  vertical-align: text-top;
		  display: inline-block;
		  :before {
		  border-color: #0f9bd1 #fff;
		  border-style: solid;
		  border-width: 0 16px 16px 0;
		  content: "";
		  position: absolute;
		  right: 0;
		  top: -1px;
		}
		}
	}
}

code,
pre {
  padding: 0 3px 2px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 14px;
  color: #242424;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
code {
  padding: 2px 4px;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  white-space: nowrap;
}

h4, h5, h6 {
	font-family: "Turnip", Georgia, "Times New Roman", Times, serif;
  	font-weight: bold;
  	line-height: 22px;
}

h6 {
	text-transform: uppercase;
}

//horizontal rule//
hr {
  margin: 22px 0;
  border: none;
  border-top: 4px double #eee;
}
//

.style-nav-h{
		color: #fff;
	}	
.style-example {
	padding: 0px auto;
}